@import "../../../resources/styles/sizes";
@import "../../../resources/styles/colors";

todo-controller {
  height: 100%;
  position: relative;
  display: block;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: calc(100% - 44px * $scalingFactor);

    li {
      padding: calc(5px * $scalingFactor) calc(10px * $scalingFactor);
      border-radius: calc(3px * $scalingFactor);
      background-color: $grey-4;
      position: relative;
      margin-bottom: calc(5px * $scalingFactor);
      height: calc(31px * $scalingFactor);
    }
  }

  .input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    button {
      top: calc(5px * $scalingFactor + 3px);
    }
  }
}