<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../../vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stderr="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../main/php</directory>
        </include>
        <exclude>
            <directory suffix=".php">../main/php/Api</directory>
            <file>../main/php/Bootstrap.php</file>
        </exclude>

        <report>
            <clover outputFile="../../clover.xml"/>
        </report>
    </coverage>

</phpunit>