@import "../../../resources/styles/sizes";
@import "../../../resources/styles/colors";

input {
  padding: calc(5px * $scalingFactor) calc(10px * $scalingFactor);
  border: 3px solid $grey-5;
  border-radius: calc(3px * $scalingFactor);
  background-color: $grey-4;
  position: relative;
  outline: none;
  color: $white;
  font-family: monospace;
  font-size: calc(18px * $scalingFactor);
  width: 100%;

  &:focus {
    border: 3px solid $highlight;
  }
}