@import "./colors";
@import "./sizes";

main {
  width: calc(100% - $space * $scalingFactor);
  height: calc(100% - $space * $scalingFactor - $footerHeight * $scalingFactor);
  position: absolute;
  top: calc($space * $scalingFactor / 2);
  left: calc($space * $scalingFactor / 2);
  background-color: $grey-3;
  border-radius: calc(10px * $scalingFactor);
  box-shadow: 0 3px 5px 0 $black;
  display: flex;
  flex-direction: row;
  border-top: calc(1px * $scalingFactor) solid $grey-4;
  overflow: hidden;
}