@import "./colors";
@import "./sizes";

nav {
  background: url("../images/nav-bg-1.png") center center repeat $grey-1;
  width: calc(280px * (($scalingFactor / 1.5)));
  min-width: 280px;
  height: calc(100% - $footerHeight * $scalingFactor);
  margin-left: calc($footerHeight * $scalingFactor / 2);
  margin-top: calc($footerHeight * $scalingFactor / 2);
  border-radius: calc(5px * $scalingFactor);
  overflow: hidden;
  box-shadow: 0 3px 5px 0 $black;
  border-width: 2px;
  border-style: solid;
  border-color: #818181 #595959 #414141 #595959;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: calc(10px * $scalingFactor) calc(15px * $scalingFactor);
      cursor: pointer;
      color: $highlight;
      text-align: center;
      position: relative;

      &:after {
        display: block;
        content: "";
        background-color: $highlight;
        width: 0;
        height: calc(3px * $scalingFactor);
        border-radius: calc(3px * $scalingFactor);
        position: absolute;
        bottom: 0;
        left: calc(10px * $scalingFactor);
        transition: width .2s;
      }

      &:hover {
        &:after {
          width: calc(100% - 20px * $scalingFactor);
        }
      }

      &:active,
      &.active {
        color: $active;

        &:after {
          background-color: $active;
          width: calc(100% - 20px * $scalingFactor);
        }
      }
    }
  }
}

#content-wrapper {
  width: 100%;
  padding: $footerHeight;

  #content {
  }
}