@import "./colors";
@import "./main";
@import "./sizes";
@import "./nav";
@import "./footer";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: rgba(255, 255, 255, .8);
  background: url("../images/bg-space-1.jpg") no-repeat center center fixed #000;
  background-size: cover;
  font-family: monospace;
  font-size: 18px;
}
